@font-face {
    font-family: Poppins;
    src: url(/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(/font/Roboto-Regular.ttf);
}
body{
    margin: 0;
}
/*
 ! CABECALHO
*/
header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 0px 1px 15px 0px;
    filter: opacity(95%);
}

/*
 * * CABECALHO
 ! BARRA DE PESQUISA E SUAS ANIMAÇÕES
*/
header #barra-pesquisa{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
#barra-pesquisa p{
    font-family: Poppins;
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.2s ease-in-out;
    cursor: pointer; 
}
#barra-pesquisa p:hover{
    
    border-bottom: 2px solid #ffcf60;
}
#barra-pesquisa button{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: Poppins;
    border-radius: 30px;
    border: none;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}
#barra-pesquisa button:hover{
    background-color: #0d8248;
    color: white;
}

/*
 * * CABECALHO
 ! MENU DROPDOWN (ENTRAR E CADASTRAR)
*/
.dropdown {
    position: relative;
    display: inline-block;
    flex-wrap: wrap;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 195px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Poppins;
}  
.dropdown:hover .dropdown-content {
    display: block;
}  
.dropdown-content a:hover {
    background-color: #f1f1f1
}





.displayOpcao{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
#opcao{
    
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
#opcao button{
    width: 250px;
    padding: 18px;
    font-size: 16px;
    font-family: Roboto;
    background-color: white;
    border: none;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.315);
}
.tipos-edit{
    margin-top: 100px;
}
#tela-edit{
    border: 1px solid rgba(0, 0, 0, 0.11);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.308);
    width: 920px;
    height: 750px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    flex-wrap: wrap;
}

.content{
    display: none;
    transition: all 2s ease-in;
}

#tela-edit form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#tela-edit h2{
    font-family: Roboto;
}




.label-input{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.label-input input{
    width: 300px;
    padding: 8px;
    outline: none;
}
.label-input label{
    font-family: Poppins;
    font-size: 12px;
}





section{
    display: flex;
    justify-content: space-around;
}
#selecao-civil{
    width: 500px;
    margin: auto;
    text-align: center;
}
#selecao-civil select{
    width: 500px;
    padding: 6px;
    outline: none;
}
#selecao-civil label{
    font-family: Poppins;
    font-size: 12px
}
#cep-estilo{
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 0px 0px 40px 0px;
    
}






#bttConsulta, #bttLimpar{
    width: 150px;
    padding: 8px;
    margin: 0px 5px;
    background-color: #0d8248;
    color: white;
    border: none;
    font-family: Poppins;
}
#separacao-1{
    border: 1px solid rgba(0, 0, 0, 0.233);
    padding: 10px;
    margin: 0px 0px 40px 0px;
}
#separacao-2{
    border: 1px solid rgba(0, 0, 0, 0.226);
    padding: 40px;
    
}





#editar-inputs{
    width: 150px;
    padding: 10px;
    margin: 40px 0px 0px 0px ;
    font-family: Poppins;
    background-color: black;
    color: white;
    border: none;
}
#save-inputs{
    width: 150px;
    padding: 10px;
    border: none;
    background-color: #ffcf60;
    font-family: Poppins;
}

#tela-ajuda{
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
}
#conteudo-grafico, #conteudo-info, #conteudo-ajuda{
    border: 1px solid rgba(0, 0, 0, 0.11);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.308);
    width: 920px;
    height: 750px;
    display: flex;
    padding: 15px;
    font-family: Roboto;
}
#conteudo-ajuda{
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
}
#conteudo-ajuda .caixa-ajuda{
    margin: 10px;
    border: 1px solid black;
    width: 800px;
    height: 120px;
}